body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-size: 1.2rem;
  width: 100%;
}


.gif-grid-item {
  background-color: #eeee;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin:4px;
  width: 230px;
  display: inline-block;
  align-content: center !important;
  overflow: hidden;
}
.img {
  width: 230px;
  align-content: center ;
}
p {
  font-size: 0.6rem;
  font-weight: bold;
  text-align: center;
}